{% extends "base_generic.html" %}

{% block content %}
    <!-- Coloque aqui o conteúdo específico da página de associações -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Gráficos de Associações</h1>
                <a href="{% url 'associacoes:relatorio' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i> 
                    Gerar Relatório
                </a>
        
        </div>

    
        <!-- Content Row -->
        <div class="row">
    
            <!-- Gráfico de Associacoes por municipios -->
            {% include 'associacoes/graficos/associacoes_por_municipio.html' %}
         
            <!-- Gráfico de Comunidade por Assiciacao -->
            {% include 'associacoes/graficos/comunidade_por_associacao.html' %}

            <!-- Gráfico de Beneficiários por Associação -->
            {% include 'associacoes/graficos/beneficiarios_por_associacao.html' %}

        </div>

        <!-- outros componentes... -->

    </div>
{% endblock %}
